/* GENERAL STYLES */

body{
    background: rgb(15, 18, 117);
    color: lightblue;
    padding: 36px;
    font: size 20px;
}


@font-face {
    font-family: "Bitstream Vera Serif Bold";
    src: url("https://mdn.github.io/shared-assets/fonts/VeraSeBd.ttf");
  }
  
  body {
    font-family: "Bitstream Vera Serif Bold", serif;
  }

::selection{
    color:red;
    text-shadow: 
    0 0 10px lightcoral, 
    0 0 10px lightcoral;
}

/* NAV */
/* ============================== */

.nav {
    margin-bottom: 38px;
    user-select: none;
}

.nav-link {
    background-color: rgb(190, 8, 8);
    color: white;
    padding: 5px 10px;
    border-radius 3px;
    margin-right:10px;
}

.nav-link:hover{
    background-color: red;
    box-shadow: 
    0 0 10px red, 
    0 0 10px red;
    
}

/* MAIN */

.main{
    font-size: 4rem;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home{
    .main{
        font-size: 6rem;
        height:80vh;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}
}

